/*comentario css*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

.letraChica {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: azure;
  font-size: 1rem;
  font-weight: 100;
}

.letraParrafo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: azure;
  font-size: 1.2rem;
  font-weight: 100;
}

.letraMediana {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: azure;
  font-size: 2rem;
  font-weight: 500;
}

.letraGrande {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: azure;
  font-size: 4rem;
  font-weight: 700;
}

.letraCard {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: azure;
  font-size: 1rem;
  font-weight: 100;
  padding: 15px;
  text-align: center;
}

.letraAcordeon {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: azure;
  font-size: 1.2rem;
  font-weight: 100;
  color: black;
}

.letraPie {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: azure;
  font-size: 1rem;
  font-weight: 100;
  color: black;
}

.header {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../assets/banner-g90a6f5f04_1920.jpg");
  background-size: auto;
  height: 40vh;
  position: relative;
  padding: 15px;
  color: azure;
  align-content: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: greenyellow;
}

.fondo {
  padding: 15px;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #25c4ce 0%, #fd1365 90%);
  background-size: 100%;
}

.acordeonFondo {
  background-color: #fd1365;
}

.fondoBox {
  background-color: #25c4ce;
}

.banner {
  display: flex;
  background-color: black;
  color: azure;
  height: 15vh;
  align-items: center;
}

.imagen {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: black;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  border: 1px solid black;
  color: azure;
}
.gallery img {
  width: 100%;
  height: auto;
}

.boton, .botonVerde, .botonCian {
  background-color: #E8057B;
  color: black;
  border: 1px solid black;
  width: 100%;
  text-align: left;
  height: 8vh;
}
.boton:hover, .botonVerde:hover, .botonCian:hover {
  filter: opacity(80%);
}

.botonCian {
  background-color: cornflowerblue;
}

.botonVerde {
  background-color: chartreuse;
}

.botonYoutube {
  color: #FF0000;
}

.botonFacebook {
  color: #4267B2;
}

.botonInstagram {
  color: #C13584;
}

.botonTwitter {
  color: #1DA1F2;
}

.footer {
  display: flex;
  background-color: azure;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding-right: 0px;
  padding-left: 0px;
}

/*# sourceMappingURL=destino.css.map */
