.fondo {
    padding: 15px;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #25c4ce 0%, #fd1365 90%);
    background-size: 100%;

}
.acordeonFondo{
    background-color: #fd1365;
}
.fondoBox{
    background-color: #25c4ce;
}