.footer {

    display: flex;
    background-color: azure;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;

}