.header {
    display: flex;
    flex-wrap: wrap;
    background-image: url("../assets/banner-g90a6f5f04_1920.jpg");
    background-size: auto;
    height: 40vh;
    position: relative;
    padding: 15px;
    color: azure;
    align-content: center;
    justify-content: center;
}